/* ConnectButton.css */

.connect-button-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .connect-button {
    align-items: center;
    background-color: #3970ae; /* Green background */
    color: white;              /* White text */
    padding: 10px 20px;        /* Some padding */
    font-size: 16px;           /* Font size */
    border: none;              /* No border */
    cursor: pointer;           /* Pointer/hand icon */
    border-radius: 4px;        /* Rounded corners */
    transition: background-color 0.3s; /* Smooth transition */
  }
  
  /* Hover effect for the button */
  .connect-button:hover {
    background-color: #45a049;
  }
  
  .dropdown-menu {
    position: absolute;
    top: 100%; /* Place below the button */
    /* right: 0; */
    background-color: white;
    min-width: 160px;
    margin-top: 5px; /* Slight spacing from the button */
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2); /* Add shadow */
    z-index: 1;
    border-radius: 4px;
    overflow: hidden;
  }
  
  .dropdown-item {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    background-color: white;
    border: none;
    width: 100%;
    text-align: center;
    cursor: pointer;
    font-size: 14px;
  }
  
  /* Hover effect for the dropdown items */
  .dropdown-item:hover {
    background-color: #f1f1f1;
  }
  